[MESSAGES CONTROL]

# R0810(duplicate-code)
# R0902(too-many-instance-attributes)
# R0903(too-few-public-methods)
# R0914()
# W0611(unused-import) - need to adjust this to ignore route and error imports
# W0612(unused-variable) - once logging is added, this will be removed
disable=R0801,R0902,R0903,R0914,W0611,W0612


[REPORTS]

# Set the output format. Available formats are text, parseable, colorized, msvs
output-format=parseable

# Just the errors please, no full report
reports=no


[IGNORES]
ignored-modules=flask_sqlalchemy
generated-members=DB.session.*